@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.navbar {
  padding: .8rem;
}
.navbar-nav li {
  padding-right: 20px;  
}
.nav-link{
  font-size: 0.9 em !important;
}

.padding {
  padding-bottom: 2rem;
}



/*---Media Queries --*/
@media (max-width: 992px) {
  
  }
@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }
  .carousel-caption h1 {
    font-size: 350%;
  }
  
  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: 2rem;
  }
  .carousel-caption .btn{
    font-size: 95%;
    padding: 8px 14px;
  }
  .display-4{
    font-size: 200%;
  }
}
@media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
  }
  .carousel-caption h1 {
    font-size: 250%;
  }
  
  .carousel-caption h3 {
    font-size: 110%;
  }
  .carousel-caption .btn{
    font-size: 90%;
    padding: 4px 8px;
  }
  .carousle-indicators{
    display: none;
  }
  
}


.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
section{
  height: 100vh;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  /*for status*/
  flex-direction: column;
}
.container{
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px #c0b3b310;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}

.form-group{
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}

.form-group input,
.form-group textarea{
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid (128, 128,128,0.199); 
  /*margin between label and input*/
  margin-top: 5px;
}

button[type="submit"]{
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  font-family: 'Monsterrat';
  color:#0066ff;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: .3s ease background-color;
}

button[type="submit"]:hover{
  background-color:	#000080;
}

#status{
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}

#status.success{
  background-color: chartreuse;
  animation: status 4s ease delay forwards;
}

#status.error{
  background-color: red;
  color: white;
  animation: status 4s ease forwards;
}

@keyframes status{
  0%{
    opacity: 1;
    pointer-events: all;
  }
  90%{
    opacity: 1;
    pointer-events: all;
  }
  10%{
    opacity: 0;
    pointer-events: none;
  }
}



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap
Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }
Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }
Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }
Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

